:root > * {
    --md-primary-fg-color: #A52466;
    --md-primary-fg-color--light: #A52466;
    --md-primary-fg-color--dark:  #A52466;
    --md-accent-fg-color: green;
}

.md-header {
    background: linear-gradient(160deg, #17222B, 80%, #A52466);
}

.md-header__topic > span.md-ellipsis,
label.md-nav__title {
    font-family: "Nova Slim";
    font-weight: 400;
    letter-spacing: 0.04rem;
}
