/* :root > * {
    --md-primary-fg-color: #FF007B;
    --md-primary-fg-color--light: #FF007B;
    --md-primary-fg-color--dark:  #66ebff;
    --md-accent-fg-color: #66ebff;
} */

span.md-header__topic.md-ellipsis {
    font-family: "Nova Slim";
    font-weight: 400;
    letter-spacing: 0.04rem;
}
